<%- include('header') %>
  <div class="container">
        <div class="row">
            <h1>Password Category Lists</h1>
            
            <br>
         <table id="example" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Password Category Name</th>
        
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
           <% if(records.length >0){
            records.forEach(function(row){
            %>
            <tr>
              <td><%= row.passord_category %></td>
             
              <td><a class="btn btn-primary btn-xs" style="background:orange;font-weight: bolder;color: white;"href="/passwordCategory/edit/<%= row._id %>">Edit <i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-xs" style="background:red;font-weight: bolder;color: white;" href="/passwordCategory/delete/<%= row._id %>" onclick="return confirm('Are you sure you want to delete this?')">Delete <i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <%  }) } %>
          </tbody>
        </table>
        <% if(all!=''){%>
          <script>
            alert('<%= all %>');
            window.location.replace('http://localhost:3000/passwordCategory');
          </script>
          <%} %>
      </div>
    </div>
    <%- include('footer') %>